<div
    class="container"
>
    <!--
    <app-chat 
        [hubMethod]="'ReceiveMessage'" 
        [pathConnection]="'gamingRoomHub'"
    ></app-chat>
    <app-side-nav></app-side-nav> 
    -->
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search room</mat-label>
            <input matInput placeholder="room name">
        </mat-form-field>
        <app-create-game></app-create-game>
        <div 
            class="rooms"
        >
            <app-card-games 
                class="room" 
                *ngFor="let room of rooms" 
                [gameCreator]="room"
            />
        </div> 
    </div>
</div>
