<div class="board">
    <div class="row" *ngFor="let row of board">
        <div 
            class="cell" 
            *ngFor="let cell of row"
            cdkDropList
            (cdkDropListDropped)="dropped($event, 'dropped')" 
            (cdkDropListEntered)="dropped($event, 'entered')" 
            (cdkDropListExited)="dropped($event, 'exited')"
            [id]="cell.idElement"
            [ngStyle]="{'background-color': cell.cellBackgroundColor}"
        >
            <div style="height: 100%;width: 100%;" cdkDrag (cdkDragStarted)="test($event)"  [cdkDragData]="cell">{{cell.idElement}}</div>
        </div>
    </div>
</div>
<div 
    #cellWithShip 
    draggable="true" 

    style="cursor: pointer; opacity: 1;position:absolute"
    >1</div>

    