<div class="board">
    <div class="row" *ngFor="let row of board">
        <div 
            class="cell" 
            *ngFor="let cell of row"
            cdkDropList
            (cdkDropListDropped)="dropped($event, 'dropped')" 
            (cdkDropListEntered)="dropped($event, 'entered')" 
            (cdkDropListExited)="dropped($event, 'exited')"
            [id]="cell.idElement"
            [ngStyle]="{'background-color': cell.cellBackgroundColor}"
        >
            <div style="height: 100%;width: 100%;" cdkDrag (cdkDragStarted)="test($event)"  [cdkDragData]="cell">{{cell.idElement}}</div>
        </div>
    </div>
    <button 
        [disabled]="!startGame" 
        mat-raised-button color="accent"
        (click)="readyPlayer()"
    >
        start game
    </button>
</div>